<!--app.component.html-->
<h1>Secure angular app with Asgardeo</h1>
<div *ngIf="!isAuthenticated">
  Please login, friend.
  <div><button (click)="handleSignIn()">Login</button></div>
</div>

<div *ngIf="isAuthenticated">
  <h1>Welcome</h1>
  <div>
    <button (click)="getAccessToken()">
      Get accesstoken
    </button>
    <div *ngIf="accessToken"><span [innerText]="accessToken"></span></div>
  </div>
  <div>
    <button (click)="getDecodedIdToken()">Get Decoded ID token</button>
    <div *ngIf="decodedIdToken">
      <div *ngFor="let item of decodedIdToken.valueOf() | keyvalue">
        <b>{{item.key}}</b>:{{item.value}}
      </div>
    </div>
  </div>
  <div>
    <button (click)="handleSignout()">
      Logout
    </button>
  </div>
</div>

